/* Global View aka Desktop View*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
body {
    font-family: 'Asap', sans-serif;
}

/* HEADER PART */
header {
    background-color: #616161;
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}

.header-container {
    min-height: 100px;
    max-width: 1024px;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    color: white;
}
.logo a {
    text-transform: uppercase;
}
span {
    font-weight: 700;
    letter-spacing: 1px;
}
nav a{
    display: inline-block;
    color: white;
    padding: 10px 25px;
    border: 1px solid white;
    text-decoration: none;
}

/* MAIN PART */
main {
    min-height: 500px;
    max-width: 1024px;
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 30%;
    background-color: blueviolet;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}
.col:hover {
    box-shadow: 0 0 10px 10px rgba(108, 53, 202, 0.4);
}
.col img {
    width: 100%;
    height: auto;
}

.col p {
    color: white;
    font-size: 0.825rem;
    padding: 10px 25px;
    line-height: 1.25rem;
}

.col p::first-line{
    font-weight: 700;
}

.hide-desktop-only {
    display: none;
}
/* Tablet View */
@media (max-width: 768px) {
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }

    header {
        position: relative;
    }
    .header-container {
        display: block;
        text-align: center;
    }
    main {
        padding-top: 0;
    }
    nav a {
        display: block;
    }

    .logo {
        padding: 40px 0;
    }
}


/* Mobile View */
@media (max-width: 400px) {
    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}
